body{
  font-family: 'Roboto', 'Oxygen';
}
.headline{
  font-size: 400%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* letter-spacing: 1ch; */
  color: rgb(252, 92, 92);
  margin-top: 30px;
  
}

.connect-btn {
  float: right;
  background-color: #1a237e; 
  color: #ffffff; 
  padding: 10px 20px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease; 
}

.connect-btn:hover {
  background-color: #00c853;
}

.donate-btn{
  float: right;
}

p{
  font-size: small;
  text-align: center;
}

.card{
  margin-top: 60px;
}

.add-btn {
 
  text-align: center;
  border-radius: 5px;
  /* width: 100px;
  height: 100px; */
  display: block;
  border: #fcfbfb;
  margin: 50px;
  color: rgb(244, 243, 243);
  background-color: #1e285e;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;

}


.add-btn:hover {
  color: rgb(149, 148, 148);
  background-color: #a5f48d;
}

.add-btn-div{
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}